@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("/your-path-to-uicons/css/uicons-rounded-bold.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Quicksand;
	font-weight: 700;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

nav {
	display: flex;
	justify-content: flex-end;
	background-color: #f7f3fa;
	padding: 1em;
    gap: 1em;

    h1{
        margin-right: auto;
    }

	img {
		width: 1.5em;
	}

	.searchbar {
		position: relative;
	}

	.searchbar img {
		width: 1em;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 12px;
		margin: auto;
	}

	input {
		padding: 0.6em 2.5em 0.6em;
		border-radius: 20px;
		border: 1px solid grey;
	}

	div {
		display: flex;
		gap: 1em;
	}
}






.sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: auto;
    background-color: antiquewhite;
    


    .links{
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: space-between;
        flex: 1;

        div{
            display: flex;
            flex-direction: column;
        }


        a{
            height: 100%;
            padding: 1em 2em;
        }

        a:hover{
            background-color: red;
        }

    }

}



.content{
    background-color: #eef0f4;
}