@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("/your-path-to-uicons/css/uicons-rounded-bold.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Quicksand;
	font-weight: 700;
}

body{
    height: 100dvh;
	display: flex;
    
}

.side-bar{
	margin-right: 10px;
	border: 1px solid red;
}

.links-container{
	display: none;
	flex-direction: column;
	background-color: rgb(223, 196, 225);
	width: 10em;
	transition: .75s ease-out;
	height: 100%;
	justify-content: center;
}

.links-container label{
	text-align: center;
	padding: 10px;
	background-color: aliceblue;
}

.links-container a{
	text-decoration: none;
	padding: 1em;
	border: 1px solid rgb(87, 87, 255);
}

.links-container a:hover{
	background-color: rgb(209, 105, 216); ;
}

#sidebar-active{
	display: none;
}

#sidebar-active:checked ~ .links-container{
	display: flex;
}

#sidebar-active:checked ~ label{
	display: none;
}

.icon{
	width: 2em;
}












.content{
	border:1px solid green;
}
