@import url("https://fonts.googleapis.com/css?family=Quicksand");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Quicksand;
	font-weight: 700;
}

nav {
	display: flex;
	justify-content: flex-end;
	background-color: #f7f3fa;
	padding: 1em;
    gap: 1em;

    h1{
        margin-right: auto;
    }

	img {
		width: 1.5em;
	}

	.searchbar {
		position: relative;
	}

	.searchbar img {
		width: 1em;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 12px;
		margin: auto;
	}

	input {
		padding: 0.6em 2.5em 0.6em;
		border-radius: 20px;
		border: 1px solid grey;
	}

	div {
		display: flex;
		gap: 1em;
	}
}
