@import url("https://fonts.googleapis.com/css?family=Quicksand");

:root {
	--p: #2580d0;
	--phover: #005dae;
	--accent: #5950ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Quicksand;
	font-weight: 700;
	font-size: 1em;
}

body {
	background-color: hsl(210, 6%, 93%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	transition: 0.3s;
}

.container {
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

.input-section {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 1em;
	padding: 1em;
	background-color: #f7f3fa;
	border-radius: 0 10px 10px 0;
}

.signup-instruction h1 {
	font-size: 2em;
}

.signup-instruction span {
	font-size: 0.8em;
}

.signup-form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

input,
select {
	border: 2px solid #d8d7db;
	padding: 6px 10px;
	border-radius: 5px;
	background-color: #f0eff5;
	flex: 1;
	transition: 0.3s;
}

input:focus,
input:valid {
	background-color: white;
	border: 2px solid var(--accent);
}

input:focus + .placeholder,
input:valid + .placeholder {
	transform: translateX(10px);
	transform: translateY(-10px);
	font-size: 0.5rem;
	padding: 0 10px;
	background-color: var(--accent);
	color: white;
}

.inputbox {
	flex: 1;
	display: flex;
	position: relative;
	align-items: center;
}

.inputbox:nth-child(6) {
	margin: 1em 0 2em 0;
}

.inputbox span {
	padding-right: 2em;
	color: grey;
}

.inputbox label {
	position: absolute;
	top: 6px;
	left: 10px;
	color: grey;
	pointer-events: none;
	padding: 0 0.5px;
	transition: 0.3s;
}

.signup-form button {
	background-color: var(--p);
	padding: 6px 12px;
	border-radius: 20px;
	border: none;
	color: white;
}

.signup-form button:hover {
	background-color: #005dae;
}

.name {
	gap: 10px;
	display: flex;
	flex-wrap: wrap;
}

.inputbox-phone {
	display: flex;
	align-items: center;
}

.inputbox-phone .inputbox {
	flex: 1;
	display: flex;
	position: relative;
}

.inputbox-phone .inputbox label {
	left: 56px;
}

.inputbox-phone input {
	padding-left: 3.5em;
}

.inputbox-phone span {
	margin-left: 10px;
	position: absolute;
	color: rgb(0, 0, 0);
	border-right: 2px solid grey;
	padding-right: 10px;
}

.go-to-sign-in {
	text-align: center;
}

.go-to-sign-in a {
	color: var(--p);
}

.go-to-sign-in a:hover {
	color: var(--phover);
}

.image-section {
	background-image: url(../img/signup.avif);
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	border-radius: 10px 0px 0px 10px;
	position: relative;
}

.image-section > h1 {
	color: white;
	margin: 10px 15px;
	position: absolute;
	top: 0;
	left: 0;
}

.welcome-text-image {
	display: flex;
	flex-direction: column;
	color: white;
	margin: 5em;
}

.welcome-text-image span {
	font-size: 0.8em;
}

.welcome-text-image h1 {
	font-size: 1.5em;
}

@media (max-width: 800px) {
	.container {
		flex-direction: column;
	}

	.image-section > h1 {
		display: none;
	}

	.welcome-text-image {
		margin: 35px;
		align-items: center;
	}

	.image-section {
		border-radius: 10px 10px 0 0;
	}

	.input-section {
		border-radius: 0 0 10px 10px;
	}
}

@media (max-width: 500px) {
	.signup-form input {
		padding: 10px 10px;
	}

	.inputbox-phone input {
		padding-left: 3.5em;
	}

	.container {
		width: 100%;
		box-shadow: none;
		flex: 1;
	}

	.inputbox label {
		top: 10px;
	}

	.signup-form input:focus + .placeholder,
	.signup-form input:valid + .placeholder {
		transform: translateY(-15px);
	}

	.image-section {
		border-radius: 0;
		height: 20%;
	}

	input {
		padding: 10px;
	}
}
